


<!-- Subscriptions -->
<div class="sub-popup">
    <h3 style="text-align: center;">Media</h3>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Play music</mat-card-title>
          <mat-card-subtitle>YouTube music</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Listen on
          </p>
        </mat-card-content>
    </mat-card>

</div>

  

<div class="modal-popup">

    <!-- Webcam -->
    <webcam [width] = "400" [height] = "600"></webcam>

    <!-- Settings -->
    <app-settings></app-settings>

</div>