<!-- devices -->
<div *ngFor = "let device of devices">

    <mat-card class="device-card" (click) = 'openBottomSheet(device.id, device.deviceType, device.deviceName)'>
        <mat-card-header>
            <mat-icon mat-card-avatar style="padding: 10px;" [ngStyle] = "{'color' : device.pColor, 'background-color' : device.sColor} " >{{device.deviceIcon}}</mat-icon>
            <mat-card-title>{{device.deviceName}}</mat-card-title>
            <mat-card-subtitle>{{device.deviceType}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

</div>
